Semester Ⅰ 2023-2024/English Ⅰ/Lecture Notes/PERSPECTIVES PRE-INTERMEDIATE.pdf
Semester Ⅱ 2023-2024/Final Exam.bmp
Semester Ⅱ 2023-2024/FDS BCS YR1 2324SEM2 Class Schedule.pdf
Semester Ⅰ 2024-2025/2024-2025cityu_calendar.pdf
